<ion-view view-title="{{lista.title}}">
    <ion-nav-buttons side="right">
		<a
			ng-href="#/tab/lista-usuarios/{{lista.$id}}"
			class="button button-icon icon ion-ios-people">
		</a>
		<a
			ng-href="#/tab/todo-add/{{lista.$id}}"
			class="button button-icon icon ion-android-add">
		</a>
    </ion-nav-buttons>

    <ion-content>

    	<div ng-if="loading">
    		<ion-spinner></ion-spinner>
    	</div>
    	<ion-list>
    		<ion-item collection-repeat="todo in todos | filter: {done:false}" href="#/tab/todo/{{$index}}">
    			{{todo.title}}
    			<p>{{todo.observation}}</p>
    			<p ng-if="!todo.observation">Nenhuma observação.</p>
				<ion-option-button
					class="button-positive"
					ng-click="done(todo.$id)">
					Feito!
				</ion-option-button>
    		</ion-item>
    	</ion-list>

    	<h1 ng-if="noData">Você não tem nenhuma lista para exibir</h1>

    </ion-content>
</ion-view>
